<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<title>[5] PTR 2021 Hack this site</title>
<link rel="stylesheet" href="s/styleBSidesTheme.css" type="text/css" media="screen">
<link rel="stylesheet" href="s/styleHts.css" type="text/css" media="screen">
<link rel="shortcut icon" type="image/png" href="s/faviconGreen.png"/>
</head>
<body>
    <div class="mainWrap">

        <div class="block txtCenter borderBottom">
            <h1>Hack this site</h1>
            <h2>Poletni tabor računalništva 2021</h2>
        </div>

        <div class="block txtCenter mt4">
            <h1>5. Izziv: Roboti</h1>
            <p>
                Govorimo o pajkih, ki brez prestanka češejo svetovno medmrežje.
                Radi si zapomnijo prav vsako vsebino.
                Včasih zaidejo tudi na kakšno zasebno spletišče, kjer niso dobrodošli.
            </p>
            <p>
                Kdor misli, da je zvit, na prepovedanih poteh 
                zabije tablo, ki pajkom pove, naj tam nikar ne skenirajo.
            </p>
            <img class="mt2" src="s/noSpiders.png" width="100" style="border-radius: 10px; box-shadow: 0 0 10px 2px #20ee83; filter: grayscale(0.5);" />
            <p>
                Lahko samo upamo, da se pajki ob pogledu na tak znak obrnejo
                in na te poti ne zahajajo več.
            </p>
            <p style="color:#222">
                Proizvajalci takih pajkov so tipično spletni iskalniki in agregatorji vsebin.
            </p>
        </div>
        <div class="block txtCenter mt4">
            <p>
                <form method="POST" autocomplete="off">
                    <input type="text" name="flag" autofocus />
                    <input type="submit" name="submit" value="Preveri" />
                </form>
            </p>
        </div>
    </div>

</body>
</html>
